Untitled-3.json
{
  "nodes": [
    {
      "parameters": {
        "path": "cta-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f02e8e3d-566f-4760-b7bc-244aab2a3114",
      "name": "Webhook - CTA Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-688, 176],
      "webhookId": "cta-response-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.cta }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9b78f21-cbd7-492e-b0ae-ecdbec892dc4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CTA 1 - More Info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.cta }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "485287dd-d280-456d-8053-a817e45c6089"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CTA 2 - Price"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.cta }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d809d38-34ca-4bf9-9c8a-54befba6fe40"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CTA 3 - Not Interested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.cta }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6055729a-20c6-4174-98c0-2ed9beaa6953"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CTA 4 - Other Interest"
            }
          ]
        },
        "options": {}
      },
      "id": "875063ba-4742-4827-84f5-b27cf7050864",
      "name": "Switch - Route by CTA",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-512, 144]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.query.email }}",
        "subject": "ขอบคุณสำหรับความสนใจ - ข้อมูลเพิ่มเติม",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333\">\n  <div style=\"background:linear-gradient(135deg,#185FA5,#3B8BD4);border-radius:8px 8px 0 0;padding:24px;color:#fff\">\n    <h2 style=\"margin:0 0 4px;font-size:20px\">ยินดีต้อนรับสู่ iiC</h2>\n    <p style=\"margin:0;font-size:13px;opacity:.85\">เอกสารข้อมูลผลิตภัณฑ์สำหรับท่าน</p>\n  </div>\n  <div style=\"background:#fff;border:1px solid #e5e5e5;border-top:0;border-radius:0 0 8px 8px;padding:28px 24px\">\n    <p>เรียน คุณลูกค้า</p>\n    <p>ขอบคุณที่ให้ความสนใจผลิตภัณฑ์และโซลูชันของ <strong>บริษัท ไอไอซี จำกัด</strong> เราดีใจที่ได้มีโอกาสนำเสนอสิ่งที่ดีที่สุดให้กับองค์กรของท่านครับ</p>\n    <p>ในไฟล์ PDF ที่แนบมาด้วยนี้ ท่านจะพบ:</p>\n    <ul style=\"padding-left:18px;line-height:2\">\n      <li>ภาพรวมผลิตภัณฑ์และฟีเจอร์เด่น</li>\n      <li>กรณีศึกษาและ Use Case</li>\n      <li>ข้อมูลทางเทคนิคเบื้องต้น</li>\n    </ul>\n    <a href=\"https://iic.co.th\" style=\"display:inline-block;margin-top:12px;padding:11px 22px;background:#185FA5;color:#fff;border-radius:6px;text-decoration:none;font-weight:600;font-size:14px\">ดูข้อมูลเพิ่มเติม</a>\n    <hr style=\"margin:24px 0;border:none;border-top:1px solid #eee\">\n    <p style=\"font-size:12px;color:#888;margin:0\">ทีมการตลาด · บริษัท ไอไอซี จำกัด · หากมีข้อสงสัยโปรดตอบกลับอีเมลนี้</p>\n  </div>\n</div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [{}]
          }
        }
      },
      "id": "b664a21a-ea98-40a7-a8cb-ffffb83cf232",
      "name": "Gmail - Reply with PDF",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [208, 0],
      "webhookId": "0dbf9afb-8638-48f7-afe9-e52bf29c2918",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oa6fjsiOuJ8FjJ9e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.query.email }}",
        "subject": "ใบเสนอราคาสินค้า",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333\">\n  <div style=\"background:linear-gradient(135deg,#3B6D11,#639922);border-radius:8px 8px 0 0;padding:24px;color:#fff\">\n    <h2 style=\"margin:0 0 4px;font-size:20px\">ใบเสนอราคาจาก iiC</h2>\n    <p style=\"margin:0;font-size:13px;opacity:.85\">กรอกแบบฟอร์มและส่งคืนเพื่อรับราคาพิเศษ</p>\n  </div>\n  <div style=\"background:#fff;border:1px solid #e5e5e5;border-top:0;border-radius:0 0 8px 8px;padding:28px 24px\">\n    <p>เรียน คุณลูกค้า</p>\n    <p>ขอบคุณที่สนใจขอใบเสนอราคาสินค้า เราได้แนบไฟล์ Excel ใบเสนอราคามาให้ท่านแล้วครับ</p>\n    <p><strong>วิธีดำเนินการ:</strong></p>\n    <ol style=\"padding-left:18px;line-height:2\">\n      <li>เปิดไฟล์ Excel ที่แนบ</li>\n      <li>กรอกจำนวนและรายการสินค้าที่ต้องการ</li>\n      <li>ส่งกลับมาที่อีเมลนี้</li>\n    </ol>\n    <p style=\"margin-top:12px;padding:10px 14px;background:#EAF3DE;border-radius:6px;font-size:13px;color:#3B6D11\">\n      ⏱ ทีมขายจะติดต่อกลับภายใน <strong>1–2 วันทำการ</strong>\n    </p>\n    <hr style=\"margin:24px 0;border:none;border-top:1px solid #eee\">\n    <p style=\"font-size:12px;color:#888;margin:0\">ทีมขาย · บริษัท ไอไอซี จำกัด (iiC)</p>\n  </div>\n</div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [{}]
          }
        }
      },
      "id": "6266ca37-0c36-4b2c-a36d-cc6bcf1a57f3",
      "name": "Gmail - Reply with Excel",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [208, 160],
      "webhookId": "7ab3e10e-3f9e-4503-941d-6f797de80c8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oa6fjsiOuJ8FjJ9e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - CTA Response').item.json.query.email }}",
        "subject": "ขอบคุณสำหรับการตอบกลับ",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333\">\n  <div style=\"background:linear-gradient(135deg,#854F0B,#BA7517);border-radius:8px 8px 0 0;padding:24px;color:#fff\">\n    <h2 style=\"margin:0 0 4px;font-size:20px\">ขอบคุณสำหรับเวลาของคุณ</h2>\n    <p style=\"margin:0;font-size:13px;opacity:.85\">บริษัท ไอไอซี จำกัด</p>\n  </div>\n  <div style=\"background:#fff;border:1px solid #e5e5e5;border-top:0;border-radius:0 0 8px 8px;padding:28px 24px\">\n    <p>เรียน คุณลูกค้า</p>\n    <p>ทางเรารับทราบแล้วว่าโซลูชันของเรายังไม่ตรงกับความต้องการขององค์กรในขณะนี้ครับ</p>\n    <p>ขอขอบพระคุณอย่างยิ่งที่สละเวลาอ่านข้อมูล หากในอนาคตองค์กรของท่านมีความต้องการด้าน:</p>\n    <ul style=\"padding-left:18px;line-height:2\">\n      <li>IT Infrastructure &amp; Data Center</li>\n      <li>Cybersecurity Solutions</li>\n      <li>Network &amp; Cloud Services</li>\n    </ul>\n    <p style=\"margin-top:12px;padding:10px 14px;background:#FFF3E0;border-radius:6px;font-size:13px;color:#854F0B\">\n      เราหวังเป็นอย่างยิ่งที่จะได้มีโอกาสรับใช้ท่านในครั้งถัดไปครับ 🙏\n    </p>\n    <hr style=\"margin:24px 0;border:none;border-top:1px solid #eee\">\n    <p style=\"font-size:12px;color:#888;margin:0\">ทีมงาน iiC Telesale · บริษัท ไอไอซี จำกัด</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "6d093161-af0b-4791-be7a-cbf34bfcd765",
      "name": "Gmail - Thank You Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [208, 352],
      "webhookId": "d09c642e-a4f9-459b-93a7-397c5d759613",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oa6fjsiOuJ8FjJ9e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"th\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <title>ขอบคุณ</title>\n  <style>\n    body { margin:0; font-family:Arial,sans-serif; background:#f5f5f5; display:flex; align-items:center; justify-content:center; min-height:100vh; }\n    .card { background:#fff; border-radius:12px; padding:40px 32px; max-width:440px; width:90%; text-align:center; box-shadow:0 4px 24px rgba(0,0,0,.08); }\n    .icon { font-size:52px; margin-bottom:12px; }\n    h2 { margin:0 0 8px; font-size:22px; color:#1a1a1a; }\n    p { color:#555; font-size:14px; line-height:1.7; margin:0 0 16px; }\n    .badge { display:inline-block; padding:6px 16px; background:#EAF3DE; border-radius:20px; font-size:13px; color:#3B6D11; font-weight:600; }\n    .footer { margin-top:28px; font-size:12px; color:#aaa; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">✅</div>\n    <h2>ขอบคุณสำหรับการตอบกลับ!</h2>\n    <p>ทีมงานของเราได้รับข้อมูลเรียบร้อยแล้ว</p>\n    <div class=\"footer\">บริษัท ไอไอซี จำกัด (iiC)</div>\n  </div>\n</body>\n</html>",
        "options": {
          "responseCode": 200
        }
      },
      "id": "43e5e613-799d-4a47-b833-057a838ea500",
      "name": "Respond to CTA Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [832, 144]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1_WqUoVJgBiAhEq-WOYlgGU3ZELBPus0l",
          "mode": "list",
          "cachedResultName": "Activity9_virtual_memory.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1_WqUoVJgBiAhEq-WOYlgGU3ZELBPus0l/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [0, 0],
      "id": "74fb6f41-69d3-4a51-b298-2a0987509401",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ywxZmjRStB0FPVN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1GnDzLBfH5cmJq5kdNRlJe4tT7-lNg0AI",
          "mode": "list",
          "cachedResultName": "1.2_Ensuring Security.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1GnDzLBfH5cmJq5kdNRlJe4tT7-lNg0AI/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [0, 160],
      "id": "10997e1b-ea4c-4f06-8144-411f1714c54e",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ywxZmjRStB0FPVN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o",
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1602383163,
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit#gid=1602383163"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 352],
      "id": "2c0e3702-b117-414b-b02c-08cbc83c113e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z8SzzLn6g3c3Y1jA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o",
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1602383163,
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit#gid=1602383163"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "อีเมล (Email)": "={{ $('Webhook - CTA Response').item.json.query.email }}",
            "ความสนใจ (Interest)": "ต้องการข้อมูลเพิ่มเติม"
          },
          "matchingColumns": ["อีเมล (Email)"],
          "schema": [
            {
              "id": "ชื่อลูกค้า (Customer name)",
              "displayName": "ชื่อลูกค้า (Customer name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ (Contact Person)",
              "displayName": "ผู้ติดต่อ (Contact Person)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เบอร์ติดต่อ (Phone Number)",
              "displayName": "เบอร์ติดต่อ (Phone Number)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล (Email)",
              "displayName": "อีเมล (Email)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "แคมเปญที่ส่ง (Campaign Name)",
              "displayName": "แคมเปญที่ส่ง (Campaign Name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ความสนใจ (Interest)",
              "displayName": "ความสนใจ (Interest)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายละเอียดเพิ่มเติม (Note)",
              "displayName": "รายละเอียดเพิ่มเติม (Note)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply Status",
              "displayName": "Reply Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time sent",
              "displayName": "time sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last sent date",
              "displayName": "last sent date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply status",
              "displayName": "reply status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error log",
              "displayName": "error log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [416, 0],
      "id": "1721dbe9-ab5c-431e-87ec-e52350c08c1f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z8SzzLn6g3c3Y1jA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o",
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1602383163,
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit#gid=1602383163"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "อีเมล (Email)": "={{ $('Webhook - CTA Response').item.json.query.email }}",
            "ความสนใจ (Interest)": "ขอราคาสินค้า"
          },
          "matchingColumns": ["อีเมล (Email)"],
          "schema": [
            {
              "id": "ชื่อลูกค้า (Customer name)",
              "displayName": "ชื่อลูกค้า (Customer name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ (Contact Person)",
              "displayName": "ผู้ติดต่อ (Contact Person)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เบอร์ติดต่อ (Phone Number)",
              "displayName": "เบอร์ติดต่อ (Phone Number)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล (Email)",
              "displayName": "อีเมล (Email)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "แคมเปญที่ส่ง (Campaign Name)",
              "displayName": "แคมเปญที่ส่ง (Campaign Name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ความสนใจ (Interest)",
              "displayName": "ความสนใจ (Interest)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายละเอียดเพิ่มเติม (Note)",
              "displayName": "รายละเอียดเพิ่มเติม (Note)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ (Status)",
              "displayName": "สถานะ (Status)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [416, 160],
      "id": "964b21ea-697c-4fd3-8bc0-08281e0d524e",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z8SzzLn6g3c3Y1jA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o",
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1602383163,
          "mode": "list",
          "cachedResultName": "ระบบติดตามข้อมูลและสถานะลูกค้า (Customer Tracking)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FX2N6s7qqcpdIVKzY7IiW6Xmnsv9vTywICPLZqEOB_o/edit#gid=1602383163"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "อีเมล (Email)": "={{ $('Webhook - CTA Response').item.json.query.email }}",
            "ความสนใจ (Interest)": "ไม่สนใจสินค้านี้"
          },
          "matchingColumns": ["อีเมล (Email)"],
          "schema": [
            {
              "id": "ชื่อลูกค้า (Customer name)",
              "displayName": "ชื่อลูกค้า (Customer name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้ติดต่อ (Contact Person)",
              "displayName": "ผู้ติดต่อ (Contact Person)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เบอร์ติดต่อ (Phone Number)",
              "displayName": "เบอร์ติดต่อ (Phone Number)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล (Email)",
              "displayName": "อีเมล (Email)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "แคมเปญที่ส่ง (Campaign Name)",
              "displayName": "แคมเปญที่ส่ง (Campaign Name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ความสนใจ (Interest)",
              "displayName": "ความสนใจ (Interest)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายละเอียดเพิ่มเติม (Note)",
              "displayName": "รายละเอียดเพิ่มเติม (Note)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ (Status)",
              "displayName": "สถานะ (Status)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [416, 352],
      "id": "50ade2bc-5eee-4c0c-9768-ccc73635d794",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z8SzzLn6g3c3Y1jA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [ { json: { html: `<!doctype html>\n<html lang=\"th\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n    <title>แจ้งความสนใจ – iiC</title>\n    <link\n      href=\"https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap\"\n      rel=\"stylesheet\"\n    />\n    <style>\n      * {\n        box-sizing: border-box;\n        margin: 0;\n        padding: 0;\n      }\n      :root {\n        --blue: #185fa5;\n        --blue-dark: #0c447c;\n        --blue-light: #e6f1fb;\n        --green: #3b6d11;\n        --green-light: #eaf3de;\n        --amber: #854f0b;\n        --amber-light: #faeeda;\n        --text: #1a1a1a;\n        --text-muted: #666;\n        --text-hint: #999;\n        --border: #dde1e7;\n        --radius: 10px;\n        --shadow: 0 2px 20px rgba(0, 0, 0, 0.07);\n      }\n      body {\n        font-family: \"IBM Plex Sans Thai\", \"IBM Plex Sans\", sans-serif;\n        background: #f0f4f8;\n        min-height: 100vh;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: flex-start;\n        padding: 36px 16px 60px;\n        color: var(--text);\n      }\n\n      /* Card */\n      .card {\n        background: #fff;\n        border-radius: 16px;\n        width: 100%;\n        max-width: 580px;\n        overflow: hidden;\n        box-shadow: var(--shadow);\n      }\n\n      /* Progress bar */\n      .progress-wrap {\n        height: 3px;\n        background: #eee;\n      }\n      .progress-bar {\n        height: 3px;\n        background: var(--blue);\n        transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);\n      }\n\n      /* Header */\n      .card-header {\n        padding: 28px 32px 22px;\n        border-bottom: 1px solid #f3f3f3;\n      }\n      .brand {\n        display: flex;\n        align-items: center;\n        gap: 12px;\n        margin-bottom: 18px;\n      }\n      .brand-mark {\n        width: 40px;\n        height: 40px;\n        border-radius: 10px;\n        background: var(--blue);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: #fff;\n        font-size: 13px;\n        font-weight: 600;\n        letter-spacing: 0.04em;\n        flex-shrink: 0;\n      }\n      .brand-text .name {\n        font-size: 14px;\n        font-weight: 600;\n        color: #111;\n      }\n      .brand-text .sub {\n        font-size: 11px;\n        color: var(--text-hint);\n        margin-top: 1px;\n      }\n      .card-header h1 {\n        font-size: 20px;\n        font-weight: 600;\n        margin-bottom: 6px;\n      }\n      .card-header p {\n        font-size: 13px;\n        color: var(--text-muted);\n        line-height: 1.6;\n      }\n\n      /* Step nav */\n      .step-nav {\n        display: flex;\n        align-items: center;\n        gap: 0;\n        margin-bottom: 28px;\n      }\n      .step-item {\n        display: flex;\n        align-items: center;\n        gap: 6px;\n        font-size: 12px;\n        color: #bbb;\n        flex: 1;\n      }\n      .step-item.active {\n        color: var(--blue);\n      }\n      .step-item.done {\n        color: var(--green);\n      }\n      .step-dot {\n        width: 24px;\n        height: 24px;\n        border-radius: 50%;\n        border: 1.5px solid currentColor;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-size: 11px;\n        font-weight: 600;\n        flex-shrink: 0;\n        transition: all 0.2s;\n      }\n      .step-item.active .step-dot {\n        background: var(--blue);\n        border-color: var(--blue);\n        color: #fff;\n      }\n      .step-item.done .step-dot {\n        background: var(--green-light);\n        border-color: var(--green);\n        color: var(--green);\n      }\n      .step-line {\n        flex: 1;\n        height: 1px;\n        background: #e5e7eb;\n        margin: 0 6px;\n      }\n\n      /* Body */\n      .card-body {\n        padding: 28px 32px;\n      }\n\n      /* Fields */\n      .field {\n        margin-bottom: 16px;\n      }\n      label {\n        display: block;\n        font-size: 13px;\n        font-weight: 500;\n        color: #333;\n        margin-bottom: 6px;\n      }\n      .req {\n        color: #e24b4a;\n        margin-left: 2px;\n      }\n      input,\n      select,\n      textarea {\n        width: 100%;\n        padding: 10px 14px;\n        font-size: 14px;\n        font-family: inherit;\n        border: 1.5px solid var(--border);\n        border-radius: var(--radius);\n        background: #fff;\n        color: var(--text);\n        outline: none;\n        transition:\n          border-color 0.15s,\n          box-shadow 0.15s;\n      }\n      input:focus,\n      select:focus,\n      textarea:focus {\n        border-color: var(--blue);\n        box-shadow: 0 0 0 3px rgba(24, 95, 165, 0.1);\n      }\n      input.err,\n      select.err,\n      textarea.err {\n        border-color: #e24b4a;\n        box-shadow: 0 0 0 3px rgba(226, 75, 74, 0.08);\n      }\n      .err-msg {\n        font-size: 12px;\n        color: #a32d2d;\n        margin-top: 4px;\n        display: none;\n      }\n      .err-msg.show {\n        display: block;\n      }\n      textarea {\n        resize: vertical;\n        min-height: 90px;\n        line-height: 1.65;\n      }\n      select {\n        appearance: none;\n        background-image: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23888' stroke-width='2'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E\");\n        background-repeat: no-repeat;\n        background-position: right 14px center;\n        padding-right: 36px;\n      }\n      .grid-2 {\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        gap: 14px;\n      }\n      .char-count {\n        font-size: 11px;\n        color: var(--text-hint);\n        text-align: right;\n        margin-top: 3px;\n      }\n      .hint {\n        font-size: 12px;\n        color: var(--text-hint);\n        margin-top: 4px;\n      }\n\n      /* Chips */\n      .chip-group {\n        display: flex;\n        flex-wrap: wrap;\n        gap: 8px;\n      }\n      .chip {\n        padding: 6px 14px;\n        border-radius: 20px;\n        border: 1.5px solid var(--border);\n        font-size: 13px;\n        cursor: pointer;\n        color: #555;\n        background: #fff;\n        transition: all 0.15s;\n        user-select: none;\n        font-family: inherit;\n      }\n      .chip:hover {\n        border-color: var(--blue);\n        color: var(--blue);\n      }\n      .chip.on {\n        background: var(--blue-light);\n        border-color: var(--blue);\n        color: var(--blue-dark);\n        font-weight: 500;\n      }\n\n      /* Divider */\n      .divider {\n        height: 1px;\n        background: #f3f3f3;\n        margin: 20px 0;\n      }\n\n      /* Buttons */\n      .btn-row {\n        display: flex;\n        justify-content: flex-end;\n        gap: 10px;\n        margin-top: 20px;\n      }\n      .btn {\n        padding: 10px 22px;\n        border-radius: var(--radius);\n        font-size: 14px;\n        font-family: inherit;\n        cursor: pointer;\n        transition: all 0.15s;\n        border: 1.5px solid var(--border);\n        font-weight: 500;\n      }\n      .btn-ghost {\n        background: #fff;\n        color: #555;\n      }\n      .btn-ghost:hover {\n        background: #f5f6f7;\n      }\n      .btn-primary {\n        background: var(--blue);\n        border-color: var(--blue);\n        color: #fff;\n      }\n      .btn-primary:hover {\n        background: var(--blue-dark);\n        border-color: var(--blue-dark);\n      }\n      .btn-primary:active {\n        transform: scale(0.98);\n      }\n      .btn-primary:disabled {\n        opacity: 0.5;\n        cursor: not-allowed;\n        transform: none;\n      }\n\n      /* Success */\n      .success {\n        display: none;\n        padding: 44px 32px;\n        text-align: center;\n      }\n      .success-icon {\n        width: 60px;\n        height: 60px;\n        border-radius: 50%;\n        background: var(--green-light);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        margin: 0 auto 18px;\n        font-size: 26px;\n        color: var(--green);\n      }\n      .success h2 {\n        font-size: 20px;\n        font-weight: 600;\n        margin-bottom: 8px;\n      }\n      .success p {\n        font-size: 14px;\n        color: var(--text-muted);\n        line-height: 1.7;\n      }\n      .summary {\n        margin-top: 22px;\n        padding: 16px 18px;\n        background: #f8f9fb;\n        border-radius: var(--radius);\n        text-align: left;\n        border: 1px solid #eee;\n      }\n      .s-row {\n        display: flex;\n        gap: 10px;\n        padding: 5px 0;\n        font-size: 13px;\n        border-bottom: 1px solid #f3f3f3;\n      }\n      .s-row:last-child {\n        border-bottom: none;\n      }\n      .s-key {\n        color: var(--text-hint);\n        min-width: 100px;\n        flex-shrink: 0;\n      }\n      .s-val {\n        color: var(--text);\n        word-break: break-word;\n      }\n      .footer-note {\n        margin-top: 12px;\n        font-size: 12px;\n        color: var(--text-hint);\n      }\n\n      /* Endpoint badge */\n      .endpoint-badge {\n        display: inline-flex;\n        align-items: center;\n        gap: 6px;\n        padding: 4px 10px;\n        background: #f0f4f8;\n        border-radius: 20px;\n        font-size: 11px;\n        color: var(--text-muted);\n        margin-top: 6px;\n        font-family: monospace;\n      }\n      .endpoint-dot {\n        width: 6px;\n        height: 6px;\n        border-radius: 50%;\n        background: #3b6d11;\n      }\n\n      @media (max-width: 500px) {\n        .grid-2 {\n          grid-template-columns: 1fr;\n        }\n        .card-body,\n        .card-header {\n          padding: 20px 20px;\n        }\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"card\">\n      <div class=\"progress-wrap\">\n        <div class=\"progress-bar\" id=\"prog\" style=\"width: 33%\"></div>\n      </div>\n\n      <!-- Header -->\n      <div class=\"card-header\" id=\"hdr\">\n        <div class=\"brand\">\n          <div class=\"brand-mark\">iiC</div>\n          <div class=\"brand-text\">\n            <div class=\"name\">บริษัท ไอไอซี จำกัด</div>\n            <div class=\"sub\">\n              IT Infrastructure · Cybersecurity · Data Center\n            </div>\n          </div>\n        </div>\n        <h1>แจ้งความสนใจเพิ่มเติม</h1>\n        <p>กรอกข้อมูลสั้น ๆ เพื่อให้ทีม Presales ติดต่อกลับอย่างตรงจุด</p>\n        <div class=\"endpoint-badge\">\n          <span class=\"endpoint-dot\"></span>POST → /webhook/other-interest-form\n        </div>\n      </div>\n\n      <!-- Body -->\n      <div class=\"card-body\" id=\"bdy\">\n        <!-- Step nav -->\n        <div class=\"step-nav\">\n          <div class=\"step-item active\" id=\"s1\">\n            <span class=\"step-dot\" id=\"sd1\">1</span>\n            <span>ข้อมูลส่วนตัว</span>\n          </div>\n          <div class=\"step-line\"></div>\n          <div class=\"step-item\" id=\"s2\">\n            <span class=\"step-dot\" id=\"sd2\">2</span>\n            <span>ความสนใจ</span>\n          </div>\n          <div class=\"step-line\"></div>\n          <div class=\"step-item\" id=\"s3\">\n            <span class=\"step-dot\" id=\"sd3\">3</span>\n            <span>รายละเอียด</span>\n          </div>\n        </div>\n\n        <!-- Step 1: Personal info -->\n        <div id=\"step1\">\n          <div class=\"grid-2\">\n            <div class=\"field\">\n              <label>ชื่อ-นามสกุล<span class=\"req\">*</span></label>\n              <input type=\"text\" id=\"name\" placeholder=\"เช่น สมชาย ใจดี\" />\n              <div class=\"err-msg\" id=\"e-name\">กรุณากรอกชื่อ-นามสกุล</div>\n            </div>\n            <div class=\"field\">\n              <label>ตำแหน่ง</label>\n              <input type=\"text\" id=\"position\" placeholder=\"เช่น IT Manager\" />\n            </div>\n          </div>\n          <div class=\"field\">\n            <label>อีเมล<span class=\"req\">*</span></label>\n            <input type=\"email\" id=\"email\" placeholder=\"name@company.com\" />\n            <div class=\"err-msg\" id=\"e-email\">กรุณากรอกอีเมลให้ถูกต้อง</div>\n          </div>\n          <div class=\"grid-2\">\n            <div class=\"field\">\n              <label>เบอร์โทรศัพท์<span class=\"req\">*</span></label>\n              <input type=\"tel\" id=\"phone\" placeholder=\"08x-xxx-xxxx\" />\n              <div class=\"err-msg\" id=\"e-phone\">กรุณากรอกเบอร์โทรศัพท์</div>\n            </div>\n            <div class=\"field\">\n              <label>บริษัท / องค์กร</label>\n              <input type=\"text\" id=\"company\" placeholder=\"ชื่อบริษัท\" />\n            </div>\n          </div>\n          <div class=\"btn-row\">\n            <button class=\"btn btn-primary\" onclick=\"next(2)\">ถัดไป →</button>\n          </div>\n        </div>\n\n        <!-- Step 2: Interest -->\n        <div id=\"step2\" style=\"display: none\">\n          <div class=\"field\">\n            <label>ประเภทโซลูชันที่สนใจ<span class=\"req\">*</span></label>\n            <div class=\"chip-group\" id=\"chips-sol\">\n              <span class=\"chip\" onclick=\"tog(this)\">IT Infrastructure</span>\n              <span class=\"chip\" onclick=\"tog(this)\">Cybersecurity</span>\n              <span class=\"chip\" onclick=\"tog(this)\">Data Center</span>\n              <span class=\"chip\" onclick=\"tog(this)\">Cloud Services</span>\n              <span class=\"chip\" onclick=\"tog(this)\"\n                >Network &amp; Connectivity</span\n              >\n              <span class=\"chip\" onclick=\"tog(this)\"\n                >Backup &amp; Recovery</span\n              >\n              <span class=\"chip\" onclick=\"tog(this)\">Endpoint Security</span>\n              <span class=\"chip\" onclick=\"tog(this)\">อื่น ๆ</span>\n            </div>\n            <div class=\"err-msg\" id=\"e-sol\">กรุณาเลือกอย่างน้อย 1 รายการ</div>\n          </div>\n          <div class=\"grid-2\" style=\"margin-top: 16px\">\n            <div class=\"field\">\n              <label>ระยะเวลาการวางแผน</label>\n              <select id=\"timeline\">\n                <option value=\"\">-- เลือกระยะเวลา --</option>\n                <option>ภายใน 1 เดือน</option>\n                <option>1–3 เดือน</option>\n                <option>3–6 เดือน</option>\n                <option>6–12 เดือน</option>\n                <option>มากกว่า 1 ปี</option>\n              </select>\n            </div>\n            <div class=\"field\">\n              <label>งบประมาณโดยประมาณ</label>\n              <select id=\"budget\">\n                <option value=\"\">-- เลือกช่วงงบ --</option>\n                <option>น้อยกว่า 500,000 บาท</option>\n                <option>500,000 – 2,000,000 บาท</option>\n                <option>2,000,000 – 5,000,000 บาท</option>\n                <option>มากกว่า 5,000,000 บาท</option>\n                <option>ยังไม่ได้กำหนด</option>\n              </select>\n            </div>\n          </div>\n          <div class=\"btn-row\">\n            <button class=\"btn btn-ghost\" onclick=\"next(1)\">← ย้อนกลับ</button>\n            <button class=\"btn btn-primary\" onclick=\"next(3)\">ถัดไป →</button>\n          </div>\n        </div>\n\n        <!-- Step 3: Detail -->\n        <div id=\"step3\" style=\"display: none\">\n          <div class=\"field\">\n            <label>อธิบายความต้องการโดยย่อ<span class=\"req\">*</span></label>\n            <textarea\n              id=\"detail\"\n              maxlength=\"500\"\n              placeholder=\"เช่น ต้องการอัปเกรด Firewall สำหรับ 200 users รองรับ remote work…\"\n              oninput=\"cc()\"\n            ></textarea>\n            <div class=\"char-count\"><span id=\"cc\">0</span>/500</div>\n            <div class=\"err-msg\" id=\"e-detail\">\n              กรุณาอธิบายความต้องการสั้น ๆ\n            </div>\n          </div>\n          <div class=\"field\">\n            <label>ช่องทางที่สะดวกให้ติดต่อกลับ</label>\n            <div class=\"chip-group\" id=\"chips-con\">\n              <span class=\"chip\" onclick=\"tog(this)\">โทรศัพท์</span>\n              <span class=\"chip on\" onclick=\"tog(this)\">Line</span>\n              <span class=\"chip\" onclick=\"tog(this)\">อีเมล</span>\n              <span class=\"chip\" onclick=\"tog(this)\">Online Meeting</span>\n            </div>\n          </div>\n          <div class=\"field\">\n            <label>เวลาที่สะดวก</label>\n            <select id=\"best-time\">\n              <option value=\"\">-- เลือกช่วงเวลา --</option>\n              <option>ช่วงเช้า (09:00–12:00)</option>\n              <option>ช่วงบ่าย (13:00–17:00)</option>\n              <option>ช่วงเย็น (17:00–19:00)</option>\n              <option>ยืดหยุ่นได้</option>\n            </select>\n          </div>\n          <div class=\"divider\"></div>\n          <div class=\"btn-row\">\n            <button class=\"btn btn-ghost\" onclick=\"next(2)\">← ย้อนกลับ</button>\n            <button class=\"btn btn-primary\" id=\"submit-btn\" onclick=\"submit()\">\n              ส่งข้อมูล →\n            </button>\n          </div>\n        </div>\n      </div>\n\n      <!-- Success screen -->\n      <div class=\"success\" id=\"success\">\n        <div class=\"success-icon\">✓</div>\n        <h2>ขอบคุณสำหรับข้อมูลครับ!</h2>\n        <p>ทีม Presales จะติดต่อกลับภายใน <strong>1–2 วันทำการ</strong></p>\n        <div class=\"summary\" id=\"summary\"></div>\n        <p class=\"footer-note\">\n          บริษัท ไอไอซี จำกัด · หากมีข้อสงสัยติดต่อ sales@iic.co.th\n        </p>\n      </div>\n    </div>\n\n    <script>\n      var cur = 1;\n\n      function next(n) {\n        if (n > cur && !validate(cur)) return;\n        document.getElementById(\"step\" + cur).style.display = \"none\";\n        document.getElementById(\"step\" + n).style.display = \"block\";\n        cur = n;\n        updateNav();\n        window.scrollTo({ top: 0, behavior: \"smooth\" });\n      }\n\n      function updateNav() {\n        var pct = { 1: 33, 2: 66, 3: 100 };\n        document.getElementById(\"prog\").style.width = pct[cur] + \"%\";\n        [1, 2, 3].forEach(function (i) {\n          var s = document.getElementById(\"s\" + i);\n          var d = document.getElementById(\"sd\" + i);\n          s.className =\n            \"step-item\" + (i < cur ? \" done\" : i === cur ? \" active\" : \"\");\n          d.textContent = i < cur ? \"✓\" : i;\n        });\n      }\n\n      function validate(n) {\n        var ok = true;\n        if (n === 1) {\n          var nm = v(\"name\"),\n            em = v(\"email\"),\n            ph = v(\"phone\");\n          var re = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n          err(\"name\", !nm);\n          err(\"email\", !re.test(em));\n          err(\"phone\", !ph);\n          if (!nm || !re.test(em) || !ph) ok = false;\n        }\n        if (n === 2) {\n          var none = sel(\"#chips-sol .chip.on\").length === 0;\n          document.getElementById(\"e-sol\").classList.toggle(\"show\", none);\n          if (none) ok = false;\n        }\n        if (n === 3) {\n          var dt = v(\"detail\");\n          err(\"detail\", !dt);\n          if (!dt) ok = false;\n        }\n        return ok;\n      }\n\n      function v(id) {\n        return document.getElementById(id).value.trim();\n      }\n      function err(id, isErr) {\n        var el = document.getElementById(id);\n        var msg = document.getElementById(\"e-\" + id);\n        if (el) el.classList.toggle(\"err\", isErr);\n        if (msg) msg.classList.toggle(\"show\", isErr);\n      }\n      function tog(el) {\n        el.classList.toggle(\"on\");\n      }\n      function sel(q) {\n        return Array.from(document.querySelectorAll(q));\n      }\n      function chips(id) {\n        return sel(\"#\" + id + \" .chip.on\")\n          .map(function (c) {\n            return c.textContent.trim();\n          })\n          .join(\", \");\n      }\n      function cc() {\n        document.getElementById(\"cc\").textContent =\n          document.getElementById(\"detail\").value.length;\n      }\n\n      function submit() {\n        if (!validate(3)) return;\n        var btn = document.getElementById(\"submit-btn\");\n        btn.disabled = true;\n        btn.textContent = \"กำลังส่ง...\";\n\n        var payload = {\n          name: v(\"name\"),\n          position: v(\"position\"),\n          email: v(\"email\"),\n          phone: v(\"phone\"),\n          company: v(\"company\"),\n          interest: chips(\"chips-sol\"),\n          timeline: document.getElementById(\"timeline\").value,\n          budget: document.getElementById(\"budget\").value,\n          detail: v(\"detail\"),\n          contactPref: chips(\"chips-con\"),\n          bestTime: document.getElementById(\"best-time\").value,\n        };\n\n        /* POST to Webhook - Other Interest Form node */\n        fetch(\n          \"http://localhost:5678/webhook-test/other-interest-form\",\n          {\n            method: \"POST\",\n            headers: { \"Content-Type\": \"application/json\" },\n            body: JSON.stringify(payload),\n          },\n        )\n          .catch(function () {})\n          .finally(function () {\n            showSuccess(payload);\n          });\n      }\n\n      function showSuccess(p) {\n        document.getElementById(\"prog\").style.width = \"100%\";\n        document.getElementById(\"prog\").style.background = \"#3B6D11\";\n        document.getElementById(\"hdr\").style.display = \"none\";\n        document.getElementById(\"bdy\").style.display = \"none\";\n\n        var rows = [\n          [\"ชื่อ\", p.name + (p.position ? \" – \" + p.position : \"\")],\n          [\"อีเมล\", p.email],\n          [\"เบอร์โทร\", p.phone],\n          [\"บริษัท\", p.company || \"–\"],\n          [\"ความสนใจ\", p.interest],\n          [\"งบประมาณ\", p.budget || \"–\"],\n          [\"ระยะเวลา\", p.timeline || \"–\"],\n          [\"ติดต่อผ่าน\", p.contactPref || \"–\"],\n        ];\n\n        document.getElementById(\"summary\").innerHTML = rows\n          .map(function (r) {\n            return (\n              '<div class=\"s-row\"><span class=\"s-key\">' +\n              r[0] +\n              '</span><span class=\"s-val\">' +\n              r[1] +\n              \"</span></div>\"\n            );\n          })\n          .join(\"\");\n\n        document.getElementById(\"success\").style.display = \"block\";\n      }\n    </script>\n  </body>\n</html>\n` } } ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 528],
      "id": "2fa5a2c6-faa3-487b-aeb1-fb4b2808ed0c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [208, 528],
      "id": "5fe711a4-1256-4a9a-a0a9-420ecc356009",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook - CTA Response": {
      "main": [
        [
          {
            "node": "Switch - Route by CTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Route by CTA": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Reply with PDF": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Reply with Excel": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Thank You Reply": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Gmail - Reply with PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Gmail - Reply with Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Gmail - Thank You Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to CTA Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to CTA Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Respond to CTA Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84569b89b57a6907558d67a5c59c79219340924e19f3ce04ef56979dd84a32ff"
  }
}
